/* MEDIA QUERY MIXINS */

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

/* MIXINS */

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
     -moz-animation: #{$str};
      -ms-animation: #{$str};
       -o-animation: #{$str};
          animation: #{$str};      
}


/* FONTS */

@font-face {
    font-family: "RockebyLight";
    src: url('Rockeby-Full-Family/RockebyCd-Light.otf') format("opentype");
}

@font-face {
    font-family: "RockebyLightItalic";
    src: url('Rockeby-Full-Family/RockebyCd-LtIt.otf') format("opentype");
}

@font-face {
    font-family: "Rockeby";
    src: url('Rockeby-Full-Family/RockebyCd-Regular.otf') format("opentype");
}

@font-face {
    font-family: "RockebyItalic";
    src: url('Rockeby-Full-Family/RockebyCd-RgIt.otf') format("opentype");
}

@font-face {
    font-family: "RockebyBold";
    src: url('Rockeby-Full-Family/RockebyCd-Bold.otf') format("opentype");
}

@font-face {
    font-family: "RockebyBoldItalic";
    src: url('Rockeby-Full-Family/RockebyCd-BdIt.otf') format("opentype");
}

@font-face {
    font-family: "RockebyBlack";
    src: url('Rockeby-Full-Family/RockebyCd-Black.otf') format("opentype");
}

@font-face {
    font-family: "RockebyBlackItalic";
    src: url('Rockeby-Full-Family/RockebyCd-BlIt.otf') format("opentype");
}

@font-face {
    font-family: "RockebyScriptLight";
    src: url('Rockeby-Full-Family/RockebyScOne-Light.otf') format("opentype");
}

@font-face {
    font-family: "RockebyScript";
    src: url('Rockeby-Full-Family/RockebyScOne-Regular.otf') format("opentype");
}

@font-face {
    font-family: "RockebyScriptBold";
    src: url('Rockeby-Full-Family/RockebyScOne-Bold.otf') format("opentype");
}

@font-face {
    font-family: "RockebyScriptBlack";
    src: url('Rockeby-Full-Family/RockebyScOne-Black.otf') format("opentype");
}

@font-face {
    font-family: "RockebyExtrasLight";
    src: url('Rockeby-Full-Family/RockebyEx-Light.otf') format("opentype");
}

@font-face {
    font-family: "RockebyExtras";
    src: url('Rockeby-Full-Family/RockebyEx-Regular.otf') format("opentype");
}

@font-face {
    font-family: "RockebyExtrasBold";
    src: url('Rockeby-Full-Family/RockebyEx-Bold.otf') format("opentype");
}

@font-face {
    font-family: "RockebyExtrasBlack";
    src: url('Rockeby-Full-Family/RockebyEx-Black.otf') format("opentype");
}



/* VARIABLES */

$body-color: #76c1bb;
$secondary-color: #e3849d;
$rockeby-color: #ef336d;
$text-color: #0b5c5c;
$paper-color: #fff0d5;
$body-text: "Rockeby", sans-serif;



/* BASIC ELEMENTS */

body {
    font-family: $body-text;
    background-color: $body-color;
    color: $text-color;
    font-size: 2em;
    line-height: 1.4;
}

.sections {
    height: 50px;
    &.features {
        background-color: lighten($secondary-color, 10%);
    }
    &.styles {
        background-color: lighten($body-color, 10%);
    }
    &.languages {
        background-color: lighten($text-color, 15%);
        color: $paper-color;
    }
    &.about {
        background-color: $paper-color;
    }

}

.container-fluid {
    padding: 50px 20px; 
}

h1 {
    display: inline-block;
    margin: 0 auto;
    font-family: "RockebyBlack";
    color: $rockeby-color;
    font-size: 28vw;
    text-shadow: -1px 0 $paper-color, 0 1px $paper-color, 1px 0 $paper-color, 0 -1px $paper-color;
    @include animation(title-change 6s infinite);
}

h2 {
        text-align: center;
        padding: 20px 0 50px;
        font-family: "RockebyBlack";
        font-size: 3.2em;
        line-height: 0.9;
        color: $paper-color;
        text-transform: uppercase;
        .extras {
            font-size: 1.1em;
            font-family: "RockebyExtrasBlack";
        }
    }

h3 {
    margin: 0;
    position: relative;
    top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}

.main-intro {
    padding: 0 30px 80px 30px;
    font-family: "RockebyItalic";
    font-size: 1.2em;
}



/* NAVIGATION */

.main-nav {
    text-align: center;
    font-weight: 700;
    font-family: "RockebyBold";
    padding: 25px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    a {
        color: $text-color;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 10px 0px; 
        cursor: pointer;
        &:link, &:visited, &:hover, &:active {
            color: $text-color;
            text-decoration: none;
        }
        &::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #0b495c;
            content: '';
            opacity: 0;
            @include transition(height 0.3s, opacity 0.3s, transform 0.3s);
            @include translate(0, -10px);    
        }
        &:hover::after, &:focus::after {
            height: 5px;
            opacity: 1;
            @include translate(0,0);
        }
    }
}



/* TITLE */

@include keyframes (title-change) {
    0% {font-family: "RockebyBlack";}
    50% {font-family: "RockebyScriptBlack";
        margin-top: 0.5px;}
    100% {font-family: "RockebyBlack";}
}

@include keyframes (designer-change) {
    0% {font-family: "RockebyScriptBlack";}
    50% {font-family: "RockebyBlack";}
    100% {font-family: "RockebyScriptBlack";}
}

.designer {
    color: #0b495c;
    font-family: "RockebyScriptBlack";
    font-size: 5vw;
    margin-top: -10px;
    @include animation(designer-change 6s infinite);
}

#title {
    padding: 150px 0 150px 0;
    text-align: center;
}

.fun {
    font-family: "RockebyScriptBlack";
    color: darken($rockeby-color, 10%);
    font-size: 1.1em;
}

/* HEADER */

#header {
    background-color: lighten($body-color, 15%);
    padding-bottom: 50px;
}



/* CHARACTER SETS */
 
#charsets .row {
    color: $paper-color;
    text-align: center;
    font-size: 2em;
    .condensed {
        font-family: "Rockeby";
        padding-bottom: 70px;
        letter-spacing: 10px;
        line-height: 1.2;
    }
    .script {
        font-family: "RockebyScript";
        letter-spacing: 20px;
    }
}

.styles-header {
    font-family: $body-text;
    font-size: 0.4em;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
}

.spec-char {
    letter-spacing: 10px;
}

.fractions {
    font-variant-numeric: diagonal-fractions;
    letter-spacing: normal;
}



/* WATERFALLS */

@include keyframes (light-italic) {
    0% {font-family: "RockebyLight";}
    50% {font-family: "RockebyLightItalic";}
    100% {font-family: "RockebyLight";}
}

@include keyframes (regular-italic) {
    0% {font-family: "Rockeby";}
    50% {font-family: "RockebyItalic";}
    100% {font-family: "Rockeby";}
}

@include keyframes (bold-italic) {
    0% {font-family: "RockebyBold";}
    50% {font-family: "RockebyBoldItalic";}
    100% {font-family: "RockebyBold";}
}

@include keyframes (black-italic) {
    0% {font-family: "RockebyBlack";}
    50% {font-family: "RockebyBlackItalic";}
    100% {font-family: "RockebyBlack";}
}

#waterfalls {
    background-color: darken($body-color, 5%);
}

.condensed-waterfall {
    margin: 50px 0 80px 0;
    color: $paper-color;
    text-align: center;
    font-size: 1.8em;
    line-height: 1;
    .light {
        font-family: "RockebyLight";
        @include animation(light-italic 4s infinite);
    }
    .regular {
        font-family: "Rockeby";
        @include animation(regular-italic 4s infinite);
    }
    .bold {
        font-family: "RockebyBold";
        @include animation(bold-italic 4s infinite);
    }
    .black {
        font-family: "RockebyBlack";
        @include animation(black-italic 4s infinite);
    }
}

.script-waterfall {
    margin: 50px 0 10px 0;
    color: $paper-color;
    text-align: center;
    font-size: 1.8em;
    .light {
        font-family: "RockebyScriptLight";
    }
    .regular {
        font-family: "RockebyScript";
    }
    .bold {
        font-family: "RockebyScriptBold";
    }
    .black {
        font-family: "RockebyScriptBlack";
    }
}

p.extras {
    font-size: 2em;
    text-align: center;
    color: darken($body-color, 20%);
    font-family: "RockebyExtrasBold";
    &.top {
        margin: -40px 0 -10px 0;
    }
    &.bottom {
        margin: 0 0 -50px 0;
    }
}



/* RECORD PLAYER */

@include keyframes (spin) {
    0% {@include transform(rotate(0deg))};
    100% {@include transform(rotate(360deg))};
}

#record-player {
        background-color: darken($body-color, 5%);

    img {
        @include animation (spin 4s infinite linear);
        width: 70%;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
}



/* LIGATURES */

#ligatures {
    background-color: lighten($secondary-color, 5%);
}

.ligature {
    color: $paper-color;
    margin-top: 50px;
    text-align: center;
    font-size: 2.2em;
    font-variant-ligatures: discretionary-ligatures;
    &.one {
        text-transform: uppercase;
        font-family: "Rockeby"
    }
    &.two {
        font-family: "RockebyScriptBold";
    }
    &.three {
        font-family: "RockebyBold";
    }
    &.four {
        font-family: "RockebyScriptLight";
    }
}

.color-ligature:hover {
    color: $text-color;
}



/* STYLISTIC SETS */


#stylistic-sets {
    background-color: $secondary-color;
    padding-bottom: 150px;
}

.caption {
        padding: 10px;
        display: inline-block;
        background-color: $paper-color;
        @include border-radius(10px);
    }

.caption.short {
    position: absolute;
    right: 60px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    &:after {
        content: '';
	position: absolute;
	top: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: $paper-color;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
        }
}

.ss {
    color: $paper-color;
    text-align: center;
    a {
        font-size: 2em;
        color: $paper-color;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
}

.ss.condensed {
    margin-top: 50px;
}

.ss.script {
    margin-top: 180px;
}

.arrow-text {
    display: inline-block;
    position: relative;
    top: -10px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.ss .example {
    font-size: 2em;
    margin-top: 25px;
    padding: 20px;
    border: 7px double $paper-color;
    @include border-radius(25px);
    &.condensed {
        font-family: "Rockeby"; 
        line-height: 1.2;
        font-feature-settings: "ss01";
    }
    &.script {
        line-height: 1.6;
        font-family: "RockebyScript";
        font-feature-settings: "ss01";
    }
}



/* FEATURES */

@include keyframes (style-change) {
    33% {font-feature-settings: "ss02";}
    66% {font-feature-settings: "ss03";}
    100% {font-feature-settings: "ss01";}
}

#features {
    background-color: darken($secondary-color, 7%);
}

.word {
    color: $paper-color;
    display: block;
    text-align: center;
    margin: 40px 0;
    &.one {
        font-size: 8em;
        font-family: "RockebyScriptBold";
        font-feature-settings: "ss02";
        .k {
           font-feature-settings: "swsh"; 
        }
    }
    &.three {
        margin-top: 70px;
        font-size: 7em;
        text-transform: uppercase;
        font-family: "RockebyBlack";
    }
    &.two {
        font-size: 9em;
        .y {
            display: inline-block;
            min-width: 72.53px;
            font-feature-settings: "ss01";
            @include animation(style-change 4s infinite);
        }
    }
}

.container-feature {
    position: relative;
    margin: auto;
    height: 300px;
    width: 350px;
    border: 1px solid transparent;
}

.circle {
    position: absolute;
    width: 40px;
	height: 40px;
    border: 1px solid $paper-color;
	@include border-radius(50%);
    background: rgba(239, 51, 109, 0.5);
}

.caption-feature {
    color: $paper-color;
    position: absolute;
}

/* feature one */

#feature-one {
    opacity: 1;
}

.circle-o {
    top: 100px;
    left: 128px;
}

.caption-o {
    line-height: 1.1;
    top: 40px;
    left: 130px;
}

/* feature two */

#feature-two {
    opacity: 1;
}

.circle-swash {
    bottom: 37px;
    left: 130px;
}

.caption-swashes {
    bottom: 0;
    left: 125px;
}

/* feature three */

#feature-three {
    opacity: 1;
}

.circle-endswash {
    right: 10px;
    top: 180px;
}

.caption-endswash {
    line-height: 1.1;
    right: 0;
    top: 235px;
}

/* feature four */

#feature-four {
    opacity: 1;
}

.line-xheight {
    position: absolute;
    height: 100px;
    width: 1px;
    border-left: 2px dashed $paper-color;
    top: 120px;
    left: 15px;
}

.caption-xheight {
    top: 235px;
    left: 10px;
    line-height: 1.1;
}

/* feature five */

.caption-alternate {
    line-height: 1.1;
    right: 30px;
    top: 260px;
}

.circle-alternate {
    right: 40px;
    top: 185px;
}

/* feature six */

#feature-six {
    opacity: 1;
}

.caption-corner {
    top: 60px;
}

.circle-corner {
    top: 95px;
    left: -10px;
}

/* feature seven */

#feature-seven {
    opacity: 1;
}

.caption-curve {
    top: 225px;
    left: 55px;
    line-height: 1.1;
}

.circle-curve {
    top: 140px;
    left: 110px;
}

/* feature eight */

#feature-eight {
    opacity: 1;
}

.caption-angle {
    top: 225px;
    right: 10px;
}

.circle-angle {
    top: 180px;
    right: 55px;
}

/* EXTRAS */

#extras {
    background-color: darken($secondary-color, 15%);
    padding-bottom: 100px;
    img {
        display: block;
        margin: auto;
        width: 100%;
    }
}

/* LANGUAGES */

#languages {
    padding: 30px 50px 50px;
    background-color: lighten($text-color, 10%);
}

.language-caption {
    color: $paper-color;
}

.language-records {
    p {
        text-align: center;
        color: $paper-color;
        font-family: "RockebyBold";
        text-transform: uppercase;
        margin-top: 15px;
    }
    .image {
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &.iceland {
            background-image: url(../images/icelandic.png);
        }
        &.france {
            background-image: url(../images/frenchvinyl.png);
        }
        &.spain {
            background-image: url(../images/spanish.png);
        }
        &.germany {
            background-image: url(../images/german.png);
        }
        &.poland {
            background-image: url(../images/polish.png);
        }
        &.portugal {
            background-image: url(../images/portuguese.png);
        }
    }
}


/* ABOUT */

#about {
    background-color: darken($paper-color, 8%);
    h2 {
        color: $rockeby-color;
        padding-bottom: 10px;
        padding-top: 50px;
    }
}
 
.buy-button {
    text-align: center;
    margin: 50px 0;
    button {
        letter-spacing: 1px;
        font-size: 1.5em;
        background-color: $paper-color;
        @include border-radius(300px);
        padding: 20px 50px;
        font-family: "RockebyBlack";
        text-transform: uppercase;
        color: $rockeby-color;
        transition: all .5s;
        border: 2px solid $rockeby-color;
        &:hover {
            background-color: $rockeby-color;
            color: $paper-color;
        }
    }
}

.specimen, .poster {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.btn.buy-specimen {
    font-size: 1em;
}


/* ABOUT */

#footer {
    background-color: darken($paper-color, 18%);
    padding: 50px 0 0 0;
    .foundry {
        text-align: center;
    }
    img {
        margin-top: 50px;
        width: 100%;
        
    }
}

.credit {
    background-color: $secondary-color;
    height: 100%;
    padding: 25px;
    p {
        padding: 0 30px;
        color: $paper-color;
        font-family: "RockebyScriptBold";
    }
}


/* MEDIA QUERIES */

@include respond-to(small) {
    h1 {
        font-size: 20vw;
    }
    .designer {
        font-size: 3vw;
    }
    #stylistic-sets .example {
        width: 85%;
        margin: auto;
    }
    #extras img {
        width: 80%;
    }
    #about .about-section {
        padding: 0 150px;
    }
}


@include respond-to(medium) {
    .main-intro {
        width: 80%;
        margin: auto;
    }
    #record-player img {
        width: 60%;
    }
    #stylistic-sets .example {
        width: 70%;
        margin: auto;
    }
    .caption.short {
        right: 200px;
    }
    #extras img {
        width: 70%;
    }
    #about .about-section {
        padding: 0 50px;
    }
}

@include respond-to(large) {
    h1 {
        font-size: 15vw;
    }
    .designer {
        font-size: 2vw;
    }
    .main-intro {
        width: 60%;
        margin: auto;
    }
    #record-player img {
        width: 50%;
    }
    #extras img {
        width: 60%;
    }
    #about .about-section {
        padding: 0 90px;
    }
}